:root {
    --rui-grey-50: 250, 250, 250;
    --rui-grey-100: 245, 245, 245;
    --rui-grey-200: 238, 238, 238;
    --rui-grey-300: 224, 224, 224;
    --rui-grey-400: 189, 189, 189;
    --rui-grey-500: 158, 158, 158;
    --rui-grey-600: 117, 117, 117;
    --rui-grey-700: 97, 97, 97;
    --rui-grey-800: 66, 66, 66;
    --rui-grey-900: 33, 33, 33;
    --rui-grey-a100: 213, 213, 213;
    --rui-grey-a200: 170, 170, 170;
    --rui-grey-a400: 97, 97, 97;
    --rui-grey-a700: 48, 48, 48;
    --rui-indigo-50: 232, 234, 246;
    --rui-indigo-100: 197, 202, 233;
    --rui-indigo-200: 159, 168, 218;
    --rui-indigo-300: 121, 134, 203;
    --rui-indigo-400: 92, 107, 192;
    --rui-indigo-500: 63, 81, 181;
    --rui-indigo-600: 57, 73, 171;
    --rui-indigo-700: 48, 63, 159;
    --rui-indigo-800: 40, 53, 147;
    --rui-indigo-900: 26, 35, 126;
    --rui-indigo-a100: 140, 158, 255;
    --rui-indigo-a200: 83, 109, 254;
    --rui-indigo-a400: 61, 90, 254;
    --rui-indigo-a700: 48, 79, 254;
    --rui-deep-purple-50: 237, 231, 246;
    --rui-deep-purple-100: 209, 196, 233;
    --rui-deep-purple-200: 179, 157, 219;
    --rui-deep-purple-300: 149, 117, 205;
    --rui-deep-purple-400: 126, 87, 194;
    --rui-deep-purple-500: 103, 58, 183;
    --rui-deep-purple-600: 94, 53, 177;
    --rui-deep-purple-700: 81, 45, 168;
    --rui-deep-purple-800: 69, 39, 160;
    --rui-deep-purple-900: 49, 27, 146;
    --rui-deep-purple-a100: 179, 136, 255;
    --rui-deep-purple-a200: 124, 77, 255;
    --rui-deep-purple-a400: 101, 31, 255;
    --rui-deep-purple-a700: 98, 0, 234;
    --rui-amber-50: 255, 248, 225;
    --rui-amber-300: 255, 213, 79;
    --rui-amber-400: 255, 202, 40;
    --rui-amber-500: 255, 193, 7;
    --rui-amber-600: 255, 179, 0;
    --rui-amber-700: 255, 160, 0;
    --rui-amber-800: 255, 143, 0;
    --rui-amber-900: 255, 111, 0;
    --rui-amber-a100: 255, 229, 127;
    --rui-amber-a200: 255, 215, 64;
    --rui-amber-a400: 255, 196, 0;
    --rui-amber-a700: 255, 171, 0;
    --rui-orange-50: 255, 243, 224;
    --rui-orange-100: 255, 224, 178;
    --rui-orange-200: 255, 204, 128;
    --rui-orange-300: 255, 183, 77;
    --rui-orange-400: 255, 167, 38;
    --rui-orange-500: 255, 152, 0;
    --rui-orange-600: 251, 140, 0;
    --rui-orange-700: 245, 124, 0;
    --rui-orange-800: 239, 108, 0;
    --rui-orange-900: 230, 81, 0;
    --rui-orange-a100: 255, 209, 128;
    --rui-orange-a200: 255, 171, 64;
    --rui-orange-a400: 255, 145, 0;
    --rui-orange-a700: 255, 109, 0;
    --rui-pink-50: 252, 228, 236;
    --rui-pink-100: 248, 187, 208;
    --rui-pink-200: 244, 143, 177;
    --rui-pink-300: 240, 98, 146;
    --rui-pink-400: 236, 64, 122;
    --rui-pink-500: 233, 30, 99;
    --rui-pink-600: 216, 27, 96;
    --rui-pink-700: 194, 24, 91;
    --rui-pink-800: 173, 20, 87;
    --rui-pink-900: 136, 14, 79;
    --rui-pink-a100: 245, 0, 87;
    --rui-pink-a200: 255, 64, 129;
    --rui-pink-a400: 245, 0, 87;
    --rui-pink-a700: 197, 17, 98;
    --rui-deep-orange-50: 251, 233, 231;
    --rui-deep-orange-100: 255, 204, 188;
    --rui-deep-orange-200: 255, 171, 145;
    --rui-deep-orange-300: 255, 138, 101;
    --rui-deep-orange-400: 255, 112, 67;
    --rui-deep-orange-500: 255, 87, 34;
    --rui-deep-orange-600: 244, 81, 30;
    --rui-deep-orange-700: 230, 74, 25;
    --rui-deep-orange-800: 216, 67, 21;
    --rui-deep-orange-900: 191, 54, 12;
    --rui-deep-orange-a100: 255, 158, 128;
    --rui-deep-orange-a200: 255, 110, 64;
    --rui-deep-orange-a400: 255, 61, 0;
    --rui-deep-orange-a700: 221, 44, 0;
    --rui-green-50: 232, 245, 233;
    --rui-green-100: 200, 230, 201;
    --rui-green-200: 165, 214, 167;
    --rui-green-300: 129, 199, 132;
    --rui-green-400: 102, 187, 106;
    --rui-green-500: 76, 175, 80;
    --rui-green-600: 67, 160, 71;
    --rui-green-700: 56, 142, 60;
    --rui-green-800: 46, 125, 50;
    --rui-green-900: 27, 94, 32;
    --rui-green-a100: 185, 246, 202;
    --rui-green-a200: 105, 240, 174;
    --rui-green-a400: 0, 230, 118;
    --rui-green-a700: 0, 200, 83;
    --rui-red-50: 254, 235, 238;
    --rui-red-100: 254, 205, 210;
    --rui-red-200: 239, 154, 154;
    --rui-red-300: 190, 19, 77;
    --rui-red-400: 239, 83, 80;
    --rui-red-500: 244, 67, 54;
    --rui-red-600: 229, 57, 53;
    --rui-red-700: 178, 56, 66;
    --rui-red-800: 198, 40, 40;
    --rui-red-900: 183, 28, 28;
    --rui-red-a100: 255, 138, 128;
    --rui-red-a200: 255, 82, 82;
    --rui-red-a400: 255, 23, 68;
    --rui-red-a700: 213, 0, 0;
    --rui-light-green-50: 241, 248, 233;
    --rui-light-green-100: 220, 237, 200;
    --rui-light-green-200: 197, 225, 165;
    --rui-light-green-300: 174, 213, 129;
    --rui-light-green-400: 139, 195, 74;
    --rui-light-green-500: 139, 195, 74;
    --rui-light-green-600: 124, 179, 66;
    --rui-light-green-700: 104, 159, 56;
    --rui-light-green-800: 85, 139, 47;
    --rui-light-green-900: 51, 105, 30;
    --rui-light-green-a100: 204, 255, 144;
    --rui-light-green-a200: 178, 255, 89;
    --rui-light-green-a400: 118, 255, 3;
    --rui-light-green-a700: 100, 221, 23;
    --rui-purple-50: 243, 229, 245;
    --rui-purple-100: 225, 190, 231;
    --rui-purple-200: 206, 147, 216;
    --rui-purple-300: 186, 104, 200;
    --rui-purple-400: 171, 71, 188;
    --rui-purple-500: 156, 39, 176;
    --rui-purple-600: 142, 36, 170;
    --rui-purple-700: 123, 31, 162;
    --rui-purple-800: 106, 27, 154;
    --rui-purple-900: 74, 20, 140;
    --rui-purple-a100: 234, 128, 252;
    --rui-purple-a200: 224, 64, 251;
    --rui-purple-a400: 213, 0, 249;
    --rui-purple-a700: 170, 0, 255;
    --rui-lime-50: 249, 251, 231;
    --rui-lime-100: 240, 244, 195;
    --rui-lime-200: 230, 238, 156;
    --rui-lime-300: 220, 231, 117;
    --rui-lime-400: 212, 225, 87;
    --rui-lime-500: 205, 220, 57;
    --rui-lime-600: 192, 202, 51;
    --rui-lime-700: 175, 180, 43;
    --rui-lime-800: 158, 157, 36;
    --rui-lime-900: 130, 119, 23;
    --rui-lime-a100: 244, 255, 129;
    --rui-lime-a200: 238, 255, 65;
    --rui-lime-a400: 198, 255, 0;
    --rui-lime-a700: 174, 234, 0;
    --rui-light-blue-50: 225, 245, 254;
    --rui-light-blue-100: 179, 229, 252;
    --rui-light-blue-200: 129, 212, 250;
    --rui-light-blue-300: 79, 195, 247;
    --rui-light-blue-400: 41, 182, 246;
    --rui-light-blue-500: 3, 169, 244;
    --rui-light-blue-600: 3, 155, 229;
    --rui-light-blue-700: 2, 136, 209;
    --rui-light-blue-800: 2, 119, 189;
    --rui-light-blue-900: 1, 87, 155;
    --rui-light-blue-a100: 128, 216, 255;
    --rui-light-blue-a200: 64, 196, 255;
    --rui-light-blue-a400: 0, 176, 255;
    --rui-light-blue-a700: 0, 145, 234;
    --rui-yellow-50: 255, 253, 231;
    --rui-yellow-100: 255, 249, 196;
    --rui-yellow-200: 255, 245, 157;
    --rui-yellow-300: 255, 241, 118;
    --rui-yellow-400: 255, 238, 88;
    --rui-yellow-500: 255, 235, 59;
    --rui-yellow-600: 253, 216, 53;
    --rui-yellow-700: 251, 192, 45;
    --rui-yellow-800: 249, 168, 37;
    --rui-yellow-900: 245, 127, 23;
    --rui-yellow-a100: 255, 255, 141;
    --rui-yellow-a200: 255, 255, 0;
    --rui-yellow-a400: 255, 234, 0;
    --rui-yellow-a700: 255, 214, 0;
    --rui-cyan-50: 224, 247, 250;
    --rui-cyan-100: 178, 235, 242;
    --rui-cyan-200: 128, 222, 234;
    --rui-cyan-300: 77, 208, 225;
    --rui-cyan-400: 38, 198, 218;
    --rui-cyan-500: 0, 188, 212;
    --rui-cyan-600: 0, 172, 193;
    --rui-cyan-700: 0, 151, 167;
    --rui-cyan-800: 0, 131, 143;
    --rui-cyan-900: 0, 96, 100;
    --rui-cyan-a100: 132, 255, 255;
    --rui-cyan-a200: 24, 255, 255;
    --rui-cyan-a400: 0, 229, 255;
    --rui-cyan-a700: 0, 184, 212;
    --rui-teal-50: 224, 242, 241;
    --rui-teal-100: 178, 223, 219;
    --rui-teal-200: 128, 203, 196;
    --rui-teal-300: 77, 182, 172;
    --rui-teal-400: 38, 166, 154;
    --rui-teal-500: 0, 150, 136;
    --rui-teal-600: 0, 137, 123;
    --rui-teal-700: 0, 121, 107;
    --rui-teal-800: 0, 105, 92;
    --rui-teal-900: 0, 77, 64;
    --rui-teal-a100: 167, 255, 235;
    --rui-teal-a200: 100, 255, 218;
    --rui-teal-a400: 29, 233, 182;
    --rui-teal-a700: 0, 191, 165;
    --rui-blue-50: 227, 242, 253;
    --rui-blue-100: 187, 222, 251;
    --rui-blue-200: 144, 202, 249;
    --rui-blue-300: 25, 118, 210;
    --rui-blue-400: 66, 165, 245;
    --rui-blue-500: 0, 125, 255;
    --rui-blue-600: 30, 136, 229;
    --rui-blue-700: 0, 87, 178;
    --rui-blue-800: 21, 101, 192;
    --rui-blue-900: 13, 71, 161;
    --rui-blue-a100: 130, 177, 255;
    --rui-blue-a200: 68, 138, 255;
    --rui-blue-a400: 41, 121, 255;
    --rui-blue-a700: 41, 98, 255;
    --rui-blue-gray-50: 236, 239, 241;
    --rui-blue-gray-100: 207, 216, 220;
    --rui-blue-gray-200: 176, 190, 197;
    --rui-blue-gray-300: 144, 164, 174;
    --rui-blue-gray-400: 120, 144, 156;
    --rui-blue-gray-500: 96, 125, 139;
    --rui-blue-gray-600: 84, 110, 122;
    --rui-blue-gray-700: 69, 90, 100;
    --rui-blue-gray-800: 55, 71, 79;
    --rui-blue-gray-900: 38, 50, 56;
    --rui-light-primary-main: 78, 91, 166;
    --rui-light-primary-darker: 54, 63, 114;
    --rui-light-primary-lighter: 179, 184, 219;
    --rui-light-secondary-main: 102, 112, 133;
    --rui-light-secondary-darker: 71, 84, 103;
    --rui-light-secondary-lighter: 208, 213, 221;
    --rui-light-error-main: 211, 47, 47;
    --rui-light-error-darker: var(--rui-red-800);
    --rui-light-error-lighter: var(--rui-red-400);
    --rui-light-warning-main: 237, 108, 2;
    --rui-light-warning-darker: var(--rui-orange-900);
    --rui-light-warning-lighter: var(--rui-orange-500);
    --rui-light-info-main: var(--rui-light-blue-700);
    --rui-light-info-darker: var(--rui-light-blue-900);
    --rui-light-info-lighter: var(--rui-light-blue-500);
    --rui-light-success-main: var(--rui-green-800);
    --rui-light-success-darker: var(--rui-green-900);
    --rui-light-success-lighter: var(--rui-green-500);
    --rui-dark-primary-main: 91, 104, 178;
    --rui-dark-primary-darker: 62, 72, 132;
    --rui-dark-primary-lighter: 179, 184, 219;
    --rui-dark-secondary-main: var(--rui-light-secondary-main);
    --rui-dark-secondary-darker: var(--rui-light-secondary-darker);
    --rui-dark-secondary-lighter: 152, 162, 179;
    --rui-dark-error-main: var(--rui-red-500);
    --rui-dark-error-darker: var(--rui-light-error-main);
    --rui-dark-error-lighter: 229, 115, 115;
    --rui-dark-warning-main: var(--rui-orange-400);
    --rui-dark-warning-darker: var(--rui-orange-700);
    --rui-dark-warning-lighter: var(--rui-orange-300);
    --rui-dark-info-main: var(--rui-light-blue-400);
    --rui-dark-info-darker: var(--rui-light-blue-700);
    --rui-dark-info-lighter: var(--rui-light-blue-300);
    --rui-dark-success-main: var(--rui-green-400);
    --rui-dark-success-darker: var(--rui-green-700);
    --rui-dark-success-lighter: var(--rui-green-300);
    --rui-shadow-primary: rgba(0, 0, 0, 0.2);
    --rui-shadow-secondary: rgba(0, 0, 0, 0.14);
    --rui-shadow-tertiary: rgba(0, 0, 0, 0.12);
    --rui-light-text-primary: rgba(0, 0, 0, 0.87);
    --rui-light-text-secondary: rgba(0, 0, 0, 0.6);
    --rui-light-text-disabled: rgba(0, 0, 0, 0.38);
    --rui-dark-text-primary: rgb(255, 255, 255);
    --rui-dark-text-secondary: rgba(255, 255, 255, 0.7);
    --rui-dark-text-disabled: rgba(255, 255, 255, 0.5);
}

$context-colors: 'primary', 'secondary', 'error', 'warning', 'info', 'success';

@keyframes bg-tint {
    to { background: white }
}
@keyframes bg-shade {
    to { background: black }
}
@keyframes text-tint {
    to { color: white }
}
@keyframes text-shade {
    to { color: black }
}
