@import "styles/colors.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, html * {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border-default {
    @apply border-rui-grey-200 dark:border-rui-grey-800;
  }
}
